@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><strong>Katalog Resep Makanan Viral</strong></h1>
    <p><strong>Temukan berbagai macam resep viral disini</strong></a></p>
</div>
<body style="background-image: url('https://wallpaperaccess.com/full/1916264.jpg');" >
</body>