@model Movie
@{
    ViewData["NamaMakanan"] = "Edit Makanan";
}

<div> 
    <h1 class="display-4">Editing Movie with the Id of @Model.Id</h1>
     <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NamaMakanan" class="control-label"></label>
                <input asp-for="NamaMakanan" class="form-control" />
                <span asp-validation-for="NamaMakanan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kategori" class="control-label"></label>
                <input asp-for="Kategori" class="form-control" />
                <span asp-validation-for="Kategori" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bahan" class="control-label"></label>
                <input asp-for="Bahan" class="form-control" />
                <span asp-validation-for="Bahan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Alat" class="control-label"></label>
                <input asp-for="Alat" class="form-control" />
                <span asp-validation-for="Alat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CaraPembuatan" class="control-label"></label>
                <input asp-for="CaraPembuatan" class="form-control" />
                <span asp-validation-for="CaraPembuatan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}